<html>
    <head>
        <%= title %>
    </head>
    <body>
        <%- include('_header'); -%>
        <h1> this is view / <%= title %> </h1>
        <%- include('_footer'); -%>
      
    </body>
</html>