<!-- 
<html>
    <head>
        <title></title>
    </head>

    <body>
        <%- include('_header'); -%>

        <h1>This is profile</h1>
        <%- include('_footer'); -%>

    </body>
</html>
 -->

<!-- after installing express layout ye wrapper ki tarah kaam karta h to usme sab kuch pehle se h bas humne isme body dalni hai kyuki ye bvrna ye sab 2 baar aata h usme header h hi layout.ejs me to it is cool way hume bas content dalna h isme jo hum chahahte h baki kaam layout ja h kyuki vo hum change krna nhi chahte cool !!  mene upar ka sara comment kar dia h-->


<h1>Profile view</h1>

